language: generic
dist: trusty
rvm:
  - 2.4.1
sudo: false
git:
  depth: 10

matrix:
  include:
    - os: linux
      env: VIM_VERSION=v7.4
    - os: linux
      env: VIM_VERSION=v8.0.0000
    - os: linux
      env: VIM_VERSION=master
    - os: linux
      env: VIM_VERSION=nvim
    - os: osx
      osx_image: xcode8.3
    - os: osx
      env: VIM_VERSION=nvim
      osx_image: xcode8.3

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-4.0
    packages:
      - language-pack-ja
      - vim
      - python-dev
      - python3-dev
      - liblua5.1-0-dev
      - lua5.1
      # For Neovim
      - autoconf
      - automake
      - apport
      - build-essential
      - clang-4.0
      - cmake
      - cscope
      - g++-5-multilib
      - g++-multilib
      - gcc-5-multilib
      - gcc-multilib
      - gdb
      - language-pack-tr
      - libc6-dev-i386
      - libtool
      - llvm-4.0-dev
      - locales
      - pkg-config
      - unzip
      - valgrind
      - xclip

install:
  - bash scripts/install-vim.sh

before_script:
  - git clone --depth 1 --branch v1.5.3 --single-branch https://github.com/thinca/vim-themis /tmp/vim-themis
  - git clone --depth 1 https://github.com/Shougo/vimproc.vim /tmp/vimproc
  - (cd /tmp/vimproc && make)

script:
  - ruby scripts/check-changelog.rb
  - bash scripts/run-tests.sh
    
notifications:
  webhooks:
    urls:
      - http://travis-ci.herokuapp.com/vim
    on_success: never
    on_failure: always
    on_start: never
