language: generic
sudo: false
git:
  depth: 10

matrix:
  include:
    - os: linux
      env:
        - VIM_VERSION=v7.4
        - THEMIS_PROFILE=vim-profile-v7.4.txt
    - os: linux
      env:
        - VIM_VERSION=v8.0.0000
        - THEMIS_PROFILE=vim-profile-v8.0.txt
    - os: linux
      env:
        - VIM_VERSION=master
        - THEMIS_PROFILE=vim-profile-master.txt
        - RUN_LINT=true
    - os: osx
      osx_image: xcode8.3
      env:
        - THEMIS_PROFILE=vim-profile-osx.txt

addons:
  apt:
    packages:
      - language-pack-ja
      - vim
      - libperl-dev
      - python-dev
      - python3-dev
      - python3-pip
      - liblua5.1-0-dev
      - lua5.1
      - ruby-dev

install:
  - rvm reset
  - bash scripts/install-vim.sh
  - export PATH=$HOME/vim/bin:$PATH
    # Install https://github.com/Vimjas/covimerage
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then brew install python3 ; fi
  - pip3 install --user --upgrade pip
  - pip3 install --user --upgrade setuptools
  - pip3 install --user covimerage

before_script:
  - git clone --depth 1 --branch v1.5.4 --single-branch https://github.com/thinca/vim-themis /tmp/vim-themis
  - git clone --depth 1 https://github.com/Shougo/vimproc.vim /tmp/vimproc
  - (cd /tmp/vimproc && make)

script:
  - uname -a
  - which -a vim
  - vim --cmd version --cmd quit
  - vim --cmd "try | helptags doc/ | catch | cquit | endtry" --cmd quit
  # - /tmp/vim-themis/bin/themis --runtimepath /tmp/vimproc --reporter dot
  - /tmp/vim-themis/bin/themis --runtimepath /tmp/vimproc --exclude ConcurrentProcess --reporter dot
  - ruby scripts/check-changelog.rb
  - if [[ "${RUN_LINT}" == "true" ]] ; then bash scripts/run-lint.sh ; fi

after_success:
  - covimerage write_coverage $THEMIS_PROFILE
  - coverage xml
  - bash <(curl -s https://codecov.io/bash)

notifications:
  webhooks:
    urls:
      - http://travis-ci.herokuapp.com/vim
    on_success: never
    on_failure: always
    on_start: never
