language: generic
sudo: false
git:
  depth: 10

env:
  global:
    - VIMPROC_VERSION=master
    - VIM_THEMIS_VERSION=v1.5.2.1

matrix:
  include:
    - os: linux
      env: VIM_VERSION=v7.4
    - os: linux
      env: VIM_VERSION=v8.0.0000
    - os: linux
      env: VIM_VERSION=master
    - os: osx

addons:
  apt:
    packages:
      - language-pack-ja
      - vim
      - libperl-dev
      - python-dev
      - python3-dev
      - liblua5.1-0-dev
      - lua5.1

install:
  - bash scripts/install-vim.sh
  - export PATH=$HOME/vim/bin:$PATH

before_script:
  - mkdir /tmp/vim-themis && curl -fsSL https://github.com/thinca/vim-themis/archive/$VIM_THEMIS_VERSION.tar.gz | tar -xz --strip-components 1 -C /tmp/vim-themis
  - mkdir /tmp/vimproc && curl -fsSL https://github.com/Shougo/vimproc.vim/archive/$VIMPROC_VERSION.tar.gz | tar -xz --strip-components 1 -C /tmp/vimproc
  - make -C /tmp/vimproc

script:
  - uname -a
  - which -a vim
  - vim --cmd version --cmd quit
  - vim --cmd "try | helptags doc/ | catch | cquit | endtry" --cmd quit
  # - /tmp/vim-themis/bin/themis --runtimepath /tmp/vimproc --reporter dot
  - /tmp/vim-themis/bin/themis --runtimepath /tmp/vimproc --exclude ConcurrentProcess --reporter dot
  - ruby scripts/check-changelog.rb
notifications:
  webhooks:
    urls:
      - http://travis-ci.herokuapp.com/vim
    on_success: never
    on_failure: always
    on_start: never
