before_script:
  - echo ja_JP.UTF-8 UTF-8 | sudo tee -a /etc/locale.gen
  - sudo /usr/sbin/locale-gen
  - git clone https://github.com/Shougo/vimproc.vim /tmp/vimproc
  - (cd /tmp/vimproc && make)
script:
  - vim --cmd version --cmd quit
  - ./spec.sh -q -p /tmp/vimproc
